name: First Workflow

on:
  push: 
    branches: 
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:

      
      - name: checkout
        uses: actions/checkout@v5.0.0

      - name: Print Welcome message
        run: |
          chmod +x shell-script.sh
          ./shell-script.sh
          


      