name: First Workflow

on:
  push: 
    branches: 
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print Welcome message
        run: echo "Hello World from Github actions! Abdulwahab"

      - name: checkout
        uses: actions/checkout@v5.0.0

      - name: list files
        run: ls

      - name: read file
        run: cat README.md